<h5 class="card-title">Nuevo estudiante</h5>

<form [formGroup]="formNew">
                <mat-dialog-content>
        <div class="row">
                        <mat-form-field class="col-md-6">
                                <input
                                        matInput 
                                        placeholder="Nombres"
                                        formControlName="name"
                                        >
                                <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
                                                <div *ngIf="name.errors.required">
                                                        Nombre requerido
                                                </div>  
                                </mat-error>                        
                        </mat-form-field> 
                        
                        <mat-form-field class="col-md-6">
                                        <input
                                                matInput 
                                                placeholder="Apellidos"
                                                formControlName="last_name"
                                                >
                                                <mat-error *ngIf="last_name.invalid && (last_name.dirty || last_name.touched)">
                                                                <div *ngIf="last_name.errors.required">
                                                                        Apellido requerido
                                                                </div>  
                                                </mat-error>  

                        </mat-form-field>




                        <mat-form-field class="col-md-12">
                                <mat-select formControlName="groupID" placeholder="Grupo">
                                  <mat-option *ngFor="let group of groups" [value]="group.id">
                                    {{group.name}}
                                  </mat-option>
                                </mat-select>
                                <mat-error *ngIf="groupID.invalid && (groupID.dirty || groupID.touched)">
                                                <div *ngIf="groupID.errors.required">
                                                        Agrega una materia
                                                </div>  
                                </mat-error>  

                        </mat-form-field>
                        



                                      
                        
        </div>
</mat-dialog-content>

<mat-dialog-actions aling="end">
                <button mat-button mat-dialog-close>
                                Cancelar
                </button>
                <button mat-raised-button color="primary" (click)="onSave()" [disabled]="(!formNew.valid) || stop">
                        Agregar
                </button>

</mat-dialog-actions>


</form>
